@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>
    }
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li><div class="navbar-btn" style="color:white">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><div class="navbar-btn">@Html.ActionLink("Regístrate", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div></li>
        @*<li>@Html.ActionLink("Registrarse", "RegisterUser", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>

}
